/*!
 * G3UI - JS for Debug
 * author wangwx   wangweixuan@inspur.com  
 * @licence G3UI - v0.1.0 * */
html{
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
.cfBody{
	width: 100%;
	font-size: 14px;
	font-family: "宋体", sans-serif;
}
/*标签*/
.cfLabel {
	border: none;
	color: #333;
	display: block;
	line-height: 2em;
	padding: 13px 0px 0px 0px;
	text-align: left;
}

/*单行文本框*/
.cfText {
	width: 90%;
	height: 25px;
	border: 1px;
	border-style: double solid solid solid;
	border-color: #CCC;
	cursor: default;
	display: inline;
	color: #747474;
}
/*多行文本*/
.cfTextArea {
	width: 90%;
	height: 80px;
	border: 1px;
	border-style: double solid solid solid;
	border-color: #CCC;
	color: #747474;
}
/*单选框*/
.cfRadio {
	-webkit-appearance: none;
	-webkit-user-select: none;
	background: url("../images/mwidget/radiobox.png") no-repeat scroll
		center top transparent;
	border-radius: 0px;
	border: 0px solid white;
	margin: 0 5px 0 0px;
	text-shadow: 0 1px 0 rgb(240, 240, 240);
	top: 0px;
	border-radius: 100%;
	bottom: 0px;
	height: 25px;
	position: relative;
	vertical-align: middle;
	width: 25px;
	cursor: pointer;
}

/*复选框*/
.cfCheckBox {
	-webkit-appearance: none;
	-webkit-user-select: none;
	background: url("../images/mwidget/check.png") no-repeat scroll center
		top transparent;
	border-radius: 0px;
	margin: 0 5px 0 0;
	text-shadow: 0 1px 0 rgb(240, 240, 240);
	top: 0px;
	border: 0px solid white;
	bottom: 0px;
	height: 25px;
	position: relative;
	vertical-align: middle;
	width: 25px;
	cursor: pointer;
}

/*单选框选中*/
.cfRadio:checked::before {
	-webkit-appearance: none;
	-webkit-user-select: none;
	background: url("../images/mwidget/radioed.png") no-repeat scroll center
		bottom transparent;
	content: '';
	display: block;
	height: 25px;
	width: 25px;
}
/*复选框选中*/
.cfCheckBox:checked::before {
	-webkit-appearance: none;
	-webkit-user-select: none;
	background: url("../images/mwidget/checked.png") no-repeat top left
		transparent;
	content: '';
	display: block;
	height: 25px;
	width: 25px;
}
/*下拉框*/
.cfSelectOne {
	height: 30px;
	width: 90%;
	border: 1px solid #CCC;
	color: #747474;
	background: white;
	line-height: 25px;
}
/*最外层容器ul样式*/
.cfContainer {
	list-style: none;
	margin: 0px;
	padding: 0 0 0 5px;
	text-align: left;
}
/*表单标题*/
.cfTitle {
	font-size: 22px;
	text-align: center;
}

/*日期时间框*/
.cfDateTime {
	background-image: url(../images/widget/datetime.png);
	background-position: 98% 50%;
	background-repeat: no-repeat;
	width: 90%;
	height: 25px;
	border: 1px;
	border-style: double solid solid solid;
	border-color: #CCC;
	cursor: pointer;
	color: #747474;
}

/*日期框*/
.cfDate {
	background-image: url(../images/widget/datetime.png);
	background-position: 98% 50%;
	background-repeat: no-repeat;
	width: 90%;
	height: 25px;
	border: 1px;
	border-style: double solid solid solid;
	border-color: #CCC;
	cursor: pointer;
	color: #747474;
}

/*只读*/
.cfIsReadonly {
	background-color: #D3DCE3;
}

/*是否必填*/
.cfIsRequired {
	
}
@CHARSET "UTF-8";
/*头部*/
header {
	display:none;
	position: relative;
	z-index: 12;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
	background: #0B7CC4 url("../images/headerbg.png") repeat-x 0 0;
	background-size: 1px 45px;
	-o-background-size: 1px 45px;
	-webkit-background-size: 1px 45px;
	box-shadow: 0 0 5px 0px #666;
	-moz-box-shadow: 0 0 5px 0px #666;
	-webkit-border-shadow: 0 0 5px 0px #666;
	padding: 0;
	color: #eee;
	font-size: 20px;
	text-align: center;
	line-height: 45px;
}

/*头部左边按钮*/
header .leftBtn {
	position: absolute;
	top: 6px;
	left: 10px;
	display: inline-block;
	width: 50px;
	height: 30px;
	line-height: 30px;
	text-indent: 5px;
	font-size: 10pt;
	font-weight: bold;
	background: transparent url("../images/leftbtn.png") no-repeat 0 0;
	outline: 0 none !important;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	left: 10px;
}

/*头部中间标题*/
header .title {
	color: #f3f3f3;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0 0px 1px rgba(0, 0, 0, 0.5);
}

/*头部右边标题*/
header .rightBtn {
	position: absolute;
	top: 6px;
	right: 10px;
	display: inline-block;
	background: transparent url("../images/rightbtn.png") no-repeat 0 0;
	color: #ffffff;
	font-family: helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	line-height: 30px;
	width: 42px;
	outline: 0 none !important;
}

/*按钮菜单层*/
.btnMenuLayer {
	display: none;
	width: 140px;
	position: absolute;
	right: 10px;
	top: 60px;
	z-index: 101;
	width: 140px;
}

/*按钮菜单*/
.btnMenu {
	padding: 2px;
	text-align: center;
	height: auto;
	position: relative;
	background-color: #000;
	filter: alpha(opacity =                 90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	border: 1px solid #000000;
	box-shadow: 0 3px 2px 0 #666666;
	-moz-box-shadow: 0px 3px 2px 0px #666666;
	-webkit-border-shadow: 0px 3px 2px 0px #666666;
	border-radius: 4px;
}

/*按钮菜单尖角*/
.btnMenu em {
	top: -10px;
	right: 20px;
	text-indent: -9999em;
	position: absolute;
	height: 0px;
	display: inline-block;
	border-bottom: 10px solid #000;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 0px;
}

/*按钮菜单项*/
.btnMenu span {
	cursor: pointer;
	width: 132px;
	color: #FFFFFF;
	height: 36px;
	line-height: 36px;
	display: inline-block;
	border: 1px solid #404040;
	margin: 1px 0px;
	border-radius: 2px;
	font-weight: bold;
}

/*消息提示*/
#message {
	display: none;
	position: relative;
	z-index: 3;
	top: -30px;
	width: 100%;
}

#message #blank {
	position: absolute;
	z-index: 4;
	width: 100%;
	height: 30px;
	background-color: #F1E29C;
	border-bottom: 1px solid #CDBD69;
}

#message #text {
	position: absolute;
	z-index: 5;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	width: 100%;
	text-align: center;
	color: #AC8A3F;
}

.transparent_class {
	filter: alpha(opacity =       90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
}

/*遮罩*/
#overlay {
	display: none;
	top: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 99;
	background-color: transparent;
}

/*遮罩显示*/
.overlayGray {
	background-color: #000000 !important;
	filter: alpha(opacity =     30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}
.dw{position:absolute;top:5%;left:0;z-index:1001;color:#000;font-family:arial,verdana,sans-serif;font-size:12px;text-shadow:none;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-ms-touch-action:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}.dwi{position:static;margin:5px;display:inline-block}.dwwr{min-width:170px;zoom:1;padding:0 10px;text-align:center}.dw-persp,.dwo{width:100%;height:100%;position:absolute;top:0;left:0;z-index:1001}.dwo{background:#000;opacity:.7;filter:Alpha(Opacity=70)}.dw-bubble .dw{margin:20px 0}.dw-bubble .dw-arrw{position:absolute;left:0;width:100%}.dw-bubble-top .dw-arrw{bottom:-36px}.dw-bubble-bottom .dw-arrw{top:-36px}.dw-bubble .dw-arrw-i{margin:0 30px;position:relative;height:36px}.dw-bubble .dw-arr{display:block}.dw-arr{display:none;position:absolute;left:0;width:0;height:0;border-width:18px 18px;border-style:solid;margin-left:-18px}.dw-bubble-bottom .dw-arr{top:0;border-color:transparent transparent #fff transparent}.dw-bubble-top .dw-arr{bottom:0;border-color:#fff transparent transparent transparent}.dwc{float:none;margin:0 2px 5px 2px;padding-top:30px;display:inline-block}.dwcc{clear:both}.dwl{text-align:center;line-height:30px;height:30px;white-space:nowrap;position:absolute;top:-30px;width:100%}.dwv{padding:10px 0;border-bottom:1px solid #000}.dwrc{-webkit-border-radius:3px;border-radius:3px}.dwwc{margin:0;padding:0 2px;position:relative;background:#000;zoom:1}.dwwl{margin:4px 2px;position:relative;z-index:5}.dww{margin:0 2px;overflow:hidden;position:relative}.dwsc .dwwl{background:#888;background:linear-gradient(#000 0,#333 35%,#888 50%,#333 65%,#000 100%);background:-webkit-gradient(linear,left bottom,left top,from(#000),color-stop(0.35,#333),color-stop(0.50,#888),color-stop(0.65,#333),to(#000));background:-moz-linear-gradient(#000 0,#333 35%,#888 50%,#333 65%,#000 100%);background:-o-linear-gradient(#000 0,#333 35%,#888 50%,#333 65%,#000 100%)}.dwsc .dww{color:#fff;background:#444;background:linear-gradient(#000 0,#444 45%,#444 55%,#000 100%);background:-webkit-gradient(linear,left bottom,left top,from(#000),color-stop(0.45,#444),color-stop(0.55,#444),to(#000));background:-moz-linear-gradient(#000 0,#444 45%,#444 55%,#000 100%);background:-o-linear-gradient(#000 0,#444 45%,#444 55%,#000 100%)}.dw-bf{-webkit-perspective:1000;-webkit-backface-visibility:hidden}.dw-ul{position:relative;z-index:2}.dw-li{padding:0 5px;display:block;text-align:center;line-height:40px;font-size:26px;white-space:nowrap;text-shadow:0 1px 1px #000;vertical-align:bottom;opacity:.3;filter:Alpha(Opacity=30)}.dw-li.dw-hl{background:#fff;background:rgba(255,255,255,.3)}.dw-li.dw-v{opacity:1;filter:Alpha(Opacity=100)}.dw-li.dw-h{visibility:hidden}.dw-i{position:relative;height:100%}.dwwb{position:absolute;z-index:4;left:0;cursor:pointer;width:100%;height:40px;text-align:center;opacity:1;transition:opacity .2s linear;-webkit-transition:opacity .2s linear}.dwa .dwwb{opacity:0}.dwwbp{top:0;-webkit-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;font-size:40px}.dwwbm{bottom:0;-webkit-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;font-size:32px;font-weight:bold}.dwpm .dwwc{background:transparent}.dwpm .dww{margin:0}.dwpm .dw-li{text-shadow:none}.dwpm .dwwol{display:none}.dwwo{position:absolute;z-index:3;top:0;left:0;width:100%;height:100%;background:linear-gradient(#000 0,rgba(44,44,44,0) 52%,rgba(44,44,44,0) 48%,#000 100%);background:-webkit-gradient(linear,left bottom,left top,from(#000),color-stop(0.52,rgba(44,44,44,0)),color-stop(0.48,rgba(44,44,44,0)),to(#000));background:-moz-linear-gradient(#000 0,rgba(44,44,44,0) 52%,rgba(44,44,44,0) 48%,#000 100%);background:-o-linear-gradient(#000 0,rgba(44,44,44,0) 52%,rgba(44,44,44,0) 48%,#000 100%)}.dwwol{position:absolute;z-index:1;top:50%;left:0;width:100%;height:0;margin-top:-1px;border-top:1px solid #333;border-bottom:1px solid #555}.dwbg .dwb{cursor:pointer;overflow:hidden;display:block;height:40px;line-height:40px;padding:0 15px;margin:0 2px;font-size:14px;font-weight:bold;text-decoration:none;text-shadow:0 -1px 1px #000;border-radius:5px;box-shadow:0 1px 3px rgba(0,0,0,0.5);color:#fff;background:#000;background:linear-gradient(#6e6e6e 50%,#000 50%);background:-webkit-gradient(linear,left bottom,left top,color-stop(0.5,#000),color-stop(0.5,#6e6e6e));background:-moz-linear-gradient(#6e6e6e 50%,#000 50%);background:-o-linear-gradient(#6e6e6e 50%,#000 50%);white-space:nowrap;text-overflow:ellipsis;-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);-webkit-border-radius:5px}.dwbc{padding:5px 0;text-align:center;clear:both}.dwbc:after{content:'';display:block;clear:both}.dwbw{display:inline-block;float:left;width:50%;position:relative;z-index:5}.dwbc-p .dwbw{width:33.33%}.dwhl{padding-top:10px}.dwhl .dwl{display:none}.dwms .dwwms .dw-li{padding:0 40px;position:relative}.dwms .dw-msel:after{width:40px;text-align:center;position:absolute;top:0;left:0;content:'✔'}.dwbg{background:#fff;border-radius:3px;-webkit-border-radius:3px}.dwbg .dwpm .dwwl{border:1px solid #aaa}.dwbg .dwpm .dww{color:#000;background:#fff;-webkit-border-radius:3px}.dwbg .dwwb{background:#ccc;color:#888;text-shadow:0 -1px 1px #333;box-shadow:0 0 5px #333;-webkit-box-shadow:0 0 5px #333}.dwbg .dwwbp{background:linear-gradient(#f7f7f7,#bdbdbd);background:-webkit-gradient(linear,left bottom,left top,from(#bdbdbd),to(#f7f7f7));background:-moz-linear-gradient(#f7f7f7,#bdbdbd);background:-o-linear-gradient(#f7f7f7,#bdbdbd)}.dwbg .dwwbm{background:linear-gradient(#bdbdbd,#f7f7f7);background:-webkit-gradient(linear,left bottom,left top,from(#f7f7f7),to(#bdbdbd));background:-moz-linear-gradient(#bdbdbd,#f7f7f7);background:-o-linear-gradient(#bdbdbd,#f7f7f7)}.dwbg .dwb-a{background:#3c7500;background:linear-gradient(#94c840 50%,#3c7500 50%);background:-webkit-gradient(linear,left bottom,left top,color-stop(0.5,#3c7500),color-stop(0.5,#94c840));background:-moz-linear-gradient(#94c840 50%,#3c7500 50%);background:-o-linear-gradient(#94c840 50%,#3c7500 50%)}.dwbg .dwwl .dwb-a{background:#3c7500;background:linear-gradient(#94c840,#3c7500);background:-webkit-gradient(linear,left bottom,left top,from(#3c7500),to(#94c840));background:-moz-linear-gradient(#94c840,#3c7500);background:-o-linear-gradient(#94c840,#3c7500)}.dw-trans .dw-persp{overflow:hidden;perspective:1000;-webkit-perspective:1000;-moz-perspective:1000}.dw-trans .dwwb{-webkit-backface-visibility:hidden}.dw-in{animation-timing-function:ease-out;animation-duration:350ms;-webkit-animation-timing-function:ease-out;-webkit-animation-duration:350ms;-moz-animation-timing-function:ease-out;-moz-animation-duration:350ms}.dw-out{animation-timing-function:ease-in;animation-duration:350ms;-webkit-animation-timing-function:ease-in;-webkit-animation-duration:350ms;-moz-animation-timing-function:ease-in;-moz-animation-duration:350ms}.dw-flip,.dw-swing,.dw-slidehorizontal,.dw-slidevertical,.dw-slidedown,.dw-slideup,.dw-fade{backface-visibility:hidden;transform:translateX(0);-webkit-backface-visibility:hidden;-webkit-transform:translateX(0);-moz-backface-visibility:hidden;-moz-transform:translateX(0)}.dw-swing,.dw-slidehorizontal,.dw-slidevertical,.dw-slidedown,.dw-slideup,.dw-fade{transform-origin:0 0;-webkit-transform-origin:0 0;-moz-transform-origin:0 0}.dw-flip,.dw-pop{transform-origin:50% 50%;-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%}.dw-pop.dw-in{opacity:1;transform:scale(1);animation-name:dw-p-in;-webkit-animation-name:dw-p-in;-webkit-transform:scale(1);-moz-animation-name:dw-p-in;-moz-transform:scale(1)}.dw-pop.dw-out{opacity:0;animation-name:dw-p-out;-webkit-animation-name:dw-p-out;-moz-animation-name:dw-p-out}.dw-flip.dw-in{opacity:1;transform:scale(1);animation-name:dw-fl-in;-webkit-animation-name:dw-fl-in;-webkit-transform:scale(1);-moz-animation-name:dw-fl-in;-moz-transform:scale(1)}.dw-flip.dw-out{opacity:0;animation-name:dw-fl-out;-webkit-animation-name:dw-fl-out;-moz-animation-name:dw-fl-out}.dw-swing.dw-in{opacity:1;transform:scale(1);animation-name:dw-sw-in;-webkit-animation-name:dw-sw-in;-webkit-transform:scale(1);-moz-animation-name:dw-sw-in;-moz-transform:scale(1)}.dw-swing.dw-out{opacity:0;animation-name:dw-sw-out;-webkit-animation-name:dw-sw-out;-moz-animation-name:dw-sw-out}.dw-slidehorizontal.dw-in{opacity:1;transform:scale(1);animation-name:dw-sh-in;-webkit-animation-name:dw-sh-in;-webkit-transform:scale(1);-moz-animation-name:dw-sh-in;-moz-transform:scale(1)}.dw-slidehorizontal.dw-out{opacity:0;animation-name:dw-sh-out;-webkit-animation-name:dw-sh-out;-moz-animation-name:dw-sh-out}.dw-slidevertical.dw-in{opacity:1;animation-name:dw-dw-sv-in;transform:scale(1);-webkit-animation-name:dw-dw-sv-in;-webkit-transform:scale(1);-moz-animation-name:dw-dw-sv-in;-moz-transform:scale(1)}.dw-slidevertical.dw-out{opacity:0;animation-name:dw-sv-out;-webkit-animation-name:dw-sv-out;-moz-animation-name:dw-sv-out}.dw-slidedown.dw-in{animation-name:dw-sd-in;transform:scale(1);-webkit-animation-name:dw-sd-in;-webkit-transform:scale(1);-moz-animation-name:dw-sd-in;-moz-transform:scale(1)}.dw-slidedown.dw-out{animation-name:dw-sd-out;-webkit-animation-name:dw-sd-out;-moz-animation-name:dw-sd-out}.dw-slideup.dw-in{transform:scale(1);animation-name:dw-su-in;-webkit-animation-name:dw-su-in;-webkit-transform:scale(1);-moz-animation-name:dw-su-in;-moz-transform:scale(1)}.dw-slideup.dw-out{animation-name:dw-su-out;-webkit-animation-name:dw-su-out;-moz-animation-name:dw-su-out}.dw-fade.dw-in{opacity:1;animation-name:dw-f-in;-webkit-animation-name:dw-f-in;-moz-animation-name:dw-f-in}.dw-fade.dw-out{opacity:0;animation-name:dw-f-out;-webkit-animation-name:dw-f-out;-moz-animation-name:dw-f-out}@keyframes dw-f-in{from{opacity:0}to{opacity:1}}@-webkit-keyframes dw-f-in{from{opacity:0}to{opacity:1}}@-moz-keyframes dw-f-in{from{opacity:0}to{opacity:1}}@keyframes dw-f-out{from{opacity:1}to{opacity:0}}@-webkit-keyframes dw-f-out{from{opacity:1}to{opacity:0}}@-moz-keyframes dw-f-out{from{opacity:1}to{opacity:0}}@keyframes dw-p-in{from{opacity:0;transform:scale(0.8)}to{opacity:1;transform:scale(1)}}@-webkit-keyframes dw-p-in{from{opacity:0;-webkit-transform:scale(0.8)}to{opacity:1;-webkit-transform:scale(1)}}@-moz-keyframes dw-p-in{from{opacity:0;-moz-transform:scale(0.8)}to{opacity:1;-moz-transform:scale(1)}}@keyframes dw-p-out{from{opacity:1;transform:scale(1)}to{opacity:0;transform:scale(0.8)}}@-webkit-keyframes dw-p-out{from{opacity:1;-webkit-transform:scale(1)}to{opacity:0;-webkit-transform:scale(0.8)}}@-moz-keyframes dw-p-out{from{opacity:1;-moz-transform:scale(1)}to{opacity:0;-moz-transform:scale(0.8)}}@keyframes dw-fl-in{from{opacity:0;transform:rotateY(90deg)}to{opacity:1;transform:rotateY(0)}}@-webkit-keyframes dw-fl-in{from{opacity:0;-webkit-transform:rotateY(90deg)}to{opacity:1;-webkit-transform:rotateY(0)}}@-moz-keyframes dw-fl-in{from{opacity:0;-moz-transform:rotateY(90deg)}to{opacity:1;-moz-transform:rotateY(0)}}@keyframes dw-fl-out{from{opacity:1;transform:rotateY(0deg)}to{opacity:0;transform:rotateY(-90deg)}}@-webkit-keyframes dw-fl-out{from{opacity:1;-webkit-transform:rotateY(0deg)}to{opacity:0;-webkit-transform:rotateY(-90deg)}}@-moz-keyframes dw-fl-out{from{opacity:1;-moz-transform:rotateY(0deg)}to{opacity:0;-moz-transform:rotateY(-90deg)}}@keyframes dw-sw-in{from{opacity:0;transform:rotateY(-90deg)}to{opacity:1;transform:rotateY(0deg)}}@-webkit-keyframes dw-sw-in{from{opacity:0;-webkit-transform:rotateY(-90deg)}to{opacity:1;-webkit-transform:rotateY(0deg)}}@-moz-keyframes dw-sw-in{from{opacity:0;-moz-transform:rotateY(-90deg)}to{opacity:1;-moz-transform:rotateY(0deg)}}@keyframes dw-sw-out{from{opacity:1;transform:rotateY(0deg)}to{opacity:0;transform:rotateY(-90deg)}}@-webkit-keyframes dw-sw-out{from{opacity:1;-webkit-transform:rotateY(0deg)}to{opacity:0;-webkit-transform:rotateY(-90deg)}}@-moz-keyframes dw-sw-out{from{opacity:1;-moz-transform:rotateY(0deg)}to{opacity:0;-moz-transform:rotateY(-90deg)}}@keyframes dw-sh-in{from{opacity:0;transform:translateX(-100%)}to{opacity:1;transform:translateX(0)}}@-webkit-keyframes dw-sh-in{from{opacity:0;-webkit-transform:translateX(-100%)}to{opacity:1;-webkit-transform:translateX(0)}}@-moz-keyframes dw-sh-in{from{opacity:0;-moz-transform:translateX(-100%)}to{opacity:1;-moz-transform:translateX(0)}}@keyframes dw-sh-out{from{opacity:1;transform:translateX(0)}to{opacity:0;transform:translateX(100%)}}@-webkit-keyframes dw-sh-out{from{opacity:1;-webkit-transform:translateX(0)}to{opacity:0;-webkit-transform:translateX(100%)}}@-moz-keyframes dw-sh-out{from{opacity:1;-moz-transform:translateX(0)}to{opacity:0;-moz-transform:translateX(100%)}}@keyframes dw-dw-sv-in{from{opacity:0;transform:translateY(-100%)}to{opacity:1;transform:translateY(0)}}@-webkit-keyframes dw-dw-sv-in{from{opacity:0;-webkit-transform:translateY(-100%)}to{opacity:1;-webkit-transform:translateY(0)}}@-moz-keyframes dw-dw-sv-in{from{opacity:0;-moz-transform:translateY(-100%)}to{opacity:1;-moz-transform:translateY(0)}}@keyframes dw-sv-out{from{opacity:1;transform:translateY(0)}to{opacity:0;transform:translateY(100%)}}@-webkit-keyframes dw-sv-out{from{opacity:1;-webkit-transform:translateY(0)}to{opacity:0;-webkit-transform:translateY(100%)}}@-moz-keyframes dw-sv-out{from{opacity:1;-moz-transform:translateY(0)}to{opacity:0;-moz-transform:translateY(100%)}}@keyframes dw-sd-in{from{transform:translateY(-100%)}to{transform:translateY(0)}}@-webkit-keyframes dw-sd-in{from{opacity:1;-webkit-transform:translateY(-100%)}to{opacity:1;-webkit-transform:translateY(0)}}@-moz-keyframes dw-sd-in{from{-moz-transform:translateY(-100%)}to{-moz-transform:translateY(0)}}@keyframes dw-sd-out{from{transform:translateY(0)}to{transform:translateY(-100%)}}@-webkit-keyframes dw-sd-out{from{opacity:1;-webkit-transform:translateY(0)}to{opacity:1;-webkit-transform:translateY(-100%)}}@-moz-keyframes dw-sd-out{from{-moz-transform:translateY(0)}to{-moz-transform:translateY(-100%)}}@keyframes dw-su-in{from{transform:translateY(100%)}to{transform:translateY(0)}}@-webkit-keyframes dw-su-in{from{opacity:1;-webkit-transform:translateY(100%)}to{opacity:1;-webkit-transform:translateY(0)}}@-moz-keyframes dw-su-in{from{-moz-transform:translateY(100%)}to{-moz-transform:translateY(0)}}@keyframes dw-su-out{from{transform:translateY(0)}to{transform:translateY(100%)}}@-webkit-keyframes dw-su-out{from{opacity:1;-webkit-transform:translateY(0)}to{opacity:1;-webkit-transform:translateY(100%)}}@-moz-keyframes dw-su-out{from{-moz-transform:translateY(0)}to{-moz-transform:translateY(100%)}}.android-ics .dw{padding:0;color:#31b6e7;background:#292829}.android-ics .dw .dwwc,.android-ics .dw .dwwl,.android-ics .dw .dww,.android-ics .dw .dwb,.android-ics .dw .dwpm .dww{background:0}.android-ics .dwwr{padding:0}.android-ics .dwc{margin:0;padding:30px 10px 1px 10px}.android-ics .dwhl{padding:1px 10px}.android-ics .dwv{height:36px;line-height:36px;padding:0;border-bottom:2px solid #31b6e7;font-size:18px}.android-ics .dwwl{margin:0 2px}.android-ics .dww,.android-ics .dw .dwpm .dwwl,.android-ics .dw .dwpm .dww{border:0}.android-ics .dww .dw-li{color:#fff;font-size:18px;text-shadow:none}.android-ics .dww .dw-li.dw-hl{background:#31b6e7;background:rgba(49,182,231,.5)}.android-ics .dwwo{background:linear-gradient(#282828 0,rgba(40,40,40,0) 52%,rgba(40,40,40,0) 48%,#282828 100%);background:-webkit-gradient(linear,left bottom,left top,from(#282828),color-stop(0.52,rgba(40,40,40,0)),color-stop(0.48,rgba(40,40,40,0)),to(#282828));background:-moz-linear-gradient(#282828 0,rgba(40,40,40,0) 52%,rgba(40,40,40,0) 48%,#282828 100%);background:-o-linear-gradient(#282828 0,rgba(40,40,40,0) 52%,rgba(40,40,40,0) 48%,#282828 100%)}.android-ics .dw .dwwb{background:#292829;box-shadow:none;-webkit-box-shadow:none}.android-ics .dwwb span{display:none}.android-ics .dwwb:after{position:absolute;top:50%;left:50%;margin-top:-8px;margin-left:-8px;color:#7e7e7e;width:0;height:0;border-width:8px;border-style:solid;content:''}.android-ics .dwwbm{top:0;bottom:auto}.android-ics .dwwbp{bottom:0;top:auto}.android-ics .dwwbm:after{border-color:transparent transparent #7e7e7e transparent}.android-ics .dwwbp:after{border-color:#7e7e7e transparent transparent transparent}.android-ics .dw .dwwl .dwb-a{background:#292829}.android-ics .dwwbm.dwb-a:after{border-color:transparent transparent #319abd transparent}.android-ics .dwwbp.dwb-a:after{border-color:#319abd transparent transparent transparent}.android-ics .dw .dwwol{width:60%;left:20%;height:36px;border-top:2px solid #31b6e7;border-bottom:2px solid #31b6e7;margin-top:-20px;display:block}.android-ics .dwbc{border-top:1px solid #424542;padding:0}.android-ics .dw .dwb{height:36px;line-height:36px;padding:0;margin:0;font-weight:normal;text-shadow:none;box-shadow:none;border-radius:0;-webkit-border-radius:0;-webkit-box-shadow:none}.android-ics .dw .dwb-a{background:#29799c}.android-ics .dwb-s .dwb,.android-ics .dwb-n .dwb{border-right:1px solid #424542}.android-ics.dw-bottom .dw,.android-ics.dw-top .dw{border-radius:0;-webkit-border-radius:0}.android-ics .dwwms .dwwol{display:none}.android-ics .dwwms .dw-li{padding-left:5px;padding-right:36px}.android-ics .dwwms .dw-li:after{content:'';position:absolute;top:50%;left:auto;right:10px;width:14px;height:14px;margin-top:-9px;color:#31b6e7;line-height:14px;border:1px solid #424542;text-shadow:0 0 5px #29799c}.android-ics .dwwms .dw-msel:after{content:'✔'}.android-ics.light .dw{background:#f5f5f5}.android-ics.light .dww .dw-li{color:#000}.android-ics.light .dwwo{background:linear-gradient(#f5f5f5 0,rgba(245,245,245,0) 52%,rgba(245,245,245,0) 48%,#f5f5f5 100%);background:-webkit-gradient(linear,left bottom,left top,from(#f5f5f5),color-stop(0.52,rgba(245,245,245,0)),color-stop(0.48,rgba(245,245,245,0)),to(#f5f5f5));background:-moz-linear-gradient(#f5f5f5 0,rgba(245,245,245,0) 52%,rgba(245,245,245,0) 48%,#f5f5f5 100%);background:-o-linear-gradient(#f5f5f5 0,rgba(245,245,245,0) 52%,rgba(245,245,245,0) 48%,#f5f5f5 100%)}.android-ics.light .dw .dwwb{background:#f5f5f5;color:#f5f5f5}.android-ics.light .dwbc{border-top:1px solid #dbdbdb}.android-ics.light .dwb{color:#000}.android-ics.light .dwb-a{color:#fff}.android-ics.light .dwb-s .dwb,.android-ics.light .dwb-n .dwb{border-right:1px solid #dbdbdb}.android-ics .dw-bubble-bottom .dw-arr{border-color:transparent transparent #292829 transparent}.android-ics .dw-bubble-top .dw-arr{border-color:#292829 transparent transparent transparent}.android-ics.light .dw-bubble-bottom .dw-arr{border-color:transparent transparent #f5f5f5 transparent}.android-ics.light .dw-bubble-top .dw-arr{border-color:#f5f5f5 transparent transparent transparent}.android-ics.light .dwwms .dw-li:after{text-shadow:0 0 5px #31b6e7}
/*label 背景**/
.cfFieldLabel {
	background-color: #f2f2f2;
}
/*input 背景*/
.cfFieldInput {
	background-color: #fff;
}

input,button,select,textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
/*input 样式*/
input,input.cfText {
	display: inline-block;
	height: 34px;
	padding: 5px 10px;
	line-height: 1.5;
	border-radius: 3px;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow
		ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input,input[type="password"],input[type="search"] {
	padding: 1px;
	background-color: white;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	cursor: auto;
}

input,textarea,keygen,select,button {
	margin: 0em;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
}


/*单行文本*/
.cfText,.cfRowSum,.cfColSum {
	width: 75%;
	display: inline-block;
	margin-left: 8px;
}
/*多行文本*/
.cfTextArea,.cfLargeText {
	width: 75%;
	display: inline-block;
	margin-left: 8px;
}
/*下拉框*/
.cfSelectOne {
	width: 75%;
	display: inline-block;
	margin-left: 8px;
}
select.cfSelectOne{
	display: inline-block;
	height: 34px;
	padding: 5px 10px;
	line-height: 1.5;
	border-radius: 3px;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
}
/*列表框*/
.cfSelectMultiple {
	width: 75%;
	display: inline-block;
	margin-left: 8px;
}
/*时间框*/
.cfDate {
	width: 75%;
	margin-left: 8px;
	height: 34px;
}
/*日期时间框*/
.cfDateTime {
	width: 75%;
	margin-left: 8px;
	height: 34px;
}
/*超链接*/
.cfHyperLink {
	width: 75%;
	margin-left: 8px;
}
/*单选、复选*/
input[type="radio"],input[type="checkbox"] {
	margin-left: 10px;
	margin-right: 5px;
	margin-bottom: 5px;
}

input {
	margin-left: 10px;
	margin-right: 5px;
}

/**只读**/
.cfIsReadonly {
	background-color: #fff;
}
/*按钮样式
* 后期换肤的时候可扩展云表单一起更换css样式
**/
button,html input[type="button"],input[type="reset"],input[type="submit"] {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	cursor: pointer;
	-webkit-appearance: button;
	display: inline-block;
	padding: 3px 12px;
	margin-left: 5px;
	margin-bottom: 0;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
/*表格*/
table {
	border: 1px solid #ddd;
}
table.cfTable tr{
	line-height: 34px;
}

.cfTable td{
	border: 1px solid #ddd;
}

table>thead>tr>th,table>tbody>tr>th,table>tfoot>tr>th,table>thead>tr>td,table>tbody>tr>td,table>tfoot>tr>td {
	border: 1px solid #ddd;
	padding:8px;
}
/*动态行标题行的背景颜色*/
.cfDynRow thead tr th,
.cfDynRowTable thead tr th{
	border: 1px solid #ddd;
	background: #f2f2f2;
	filter:none;
}

.cfTable td.cfFieldLabel,.cfDynTable td.cfFieldLabel {
	padding-right: 8px;
}

table tbody tr:hover > td,
table tbody tr:hover > th,
.cfDynRow tbody tr:hover > td,
.cfDynRow tbody tr:hover > th {
  background-color: #f5f5f5;
}

/*表单标题*/
.cfTitle {
	font-size: 24px;
}

/*节*/
.cfFieldSet {
	margin-bottom: 0px;
	border: 0px;
}
/*tab页*/
.cfTab .cfTabBody {
	border: 0;
}

.cfTab .cfTabHeader {
	width: 100%;
	border-bottom: 1px solid #ddd;
	margin-bottom: 5px;
	margin-top: 5px;
}

.cfTab .cfTabHeader li {
	color: #428bca;
	line-height: 26px;
	height: 26px;
	margin-right: 2px;
	position: relative; display : block;
	border-radius: 4px 4px 0 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	display: block;
}

.cfTab .cfTabHeader li.selected,.cfTab .cfTabHeader li.selected:hover {
	color: #555;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}

.cfTab .cfTabHeader>li>a:hover {
	border-color: #eee #eee #ddd;
}

.cfTab .cfTabHeader>li:hover,.cfTab .cfTabHeader>li:focus {
	text-decoration: none;
	background-color: #eee;
}

.cfTab .tabLeftSelected,.cfTab .tabRightSelected,.cfTab .cfTabHeader li.selected
	{
	background-image: none;
}

/*动态行、动态表格距上部的距离*/
.cfTable, .cfDynRow, .cfDynTable {
	margin-top: 0px;
}
/*动态行序号列的宽度*/
.cfDynRowTable th.cfNumCol {
	width: 50px;
}
/*动态行操作列的宽度*/
.cfDynRow th:last-child {
	width: 150px;
}
.cfDynRowTable td.cfAddAndDelTd{
	width:200px;
	background-color: #fff;
}
/**动态行按钮样式**/
/*增加按钮*/
.cfAddAndDelTd .cfAddRow{
	padding: 5px 5px;
	height: 36px;
	margin-left: 3px;
	margin-right: 0px;
}
/*删除按钮*/
.cfAddAndDelTd .cfDelRow{
	padding: 5px 5px;
	background-color: #d9534f;
	border-color: #d43f3a;
	height: 36px;
	margin-left: 3px;
	margin-right: 0px;
}
/*换行按钮*/
.cfAddAndDelTd .cfChangeRow{
	padding: 5px 5px;
	height: 36px;
	margin-left: 3px;
	margin-right: 2px;
}
/*可编辑表格的编辑、删除按钮*/
.cfAddAndDelTd .cfModifyRow {
	padding: 3px 12px;
	margin-left: 5px;
	margin-right: 3px;
}
.cfAddAndDelTd .cfModifyRow + .cfDelRow {
	padding: 3px 12px;
	margin-left: 5px;
	margin-right: 3px;
}
/*可编辑表格的增加按钮*/
.cfDynRow.cfEditGrid div{
	margin-bottom: 5px;
	float: right;
}
/*换行弹窗的宽度*/
.cfChangeRowDiv{
	height: 120px;
}
#cfRowNumIn{
	width: 100px;
}
.cfConfirmBtn{
	color: #ffffff;
  	background-color: #5cb85c;
  	border-color: #4cae4c;
}
.cfConfirmBtn:hover{
	color: #ffffff;
  	background-color: #47a447;
  	border-color: #398439;
}
.cfCancelBtn{
	color: #ffffff;
  	background-color: #d2322d;
  	border-color: #ac2925;
}
.cfCancelBtn:hover{
	color: #ffffff;
  	background-color: #d2322d;
  	border-color: #ac2925;
}
.cfConfirmBtn,.cfCancelBtn{
	border-radius: 4px;
}

/*legend*/
.cfFieldSet legend{
	height: 30px;
	font-size: 16px;
	color: #333;
	border: 0px;
	border-bottom: 1px solid #f2f2f2;
}
/**必填样式**/
.isRequiredSign{
	position: relative;
}
/*可编辑表格*/
.ui-widget-content{
	border: 0px;
}
.ui-dialog{
	padding: 0px;
}
.ui-dialog .ui-dialog-content{
	background-color: #fff;
	padding: 0px;
}
.ui-dialog .ui-dialog-buttonpane{
	margin-top: 0px;
	padding: 0px;
}
.ui-resizable-n,.ui-resizable-s{
	height: 0px;
}
.ui-resizable-e,.ui-resizable-w{
	width: 0px;
}
.cfEditTable{
	min-width: 100%;/**
	min-height: 100%;*/
	width: 800px;
}
.cfEditTable td {
	height: 36px;
	margin: 0;
	padding: 4px;
	padding-left: 0px;
}
.cfEditTable td.cfFieldLabel{
	padding-right: 8px;
	text-align: right;
	word-wrap: break-word;
	word-break: break-all;
	WIDTH: 15%;
}
/*标题*/
.ui-widget-header{
	border: 1px solid #f2f2f2;
	background: #428bca;
	color: #fff;
}
.ui-widget{
	font-size: 16px;
}
/*按钮*/
.ui-dialog-buttonset .ui-state-default:first-child {
	 color: #ffffff;
	 background-color: #5cb85c;
	 border-color: #4cae4c;
	 MARGIN-RIGHT: 5PX;
}
.ui-dialog-buttonset .ui-state-default:first-child:hover {
	 color: #ffffff;
	 background-color: #47a447;
	 border-color: #398439;
}
.ui-dialog-buttonset .ui-state-default:last-child {
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
	MARGIN-LEFT: 5PX;
}
.ui-dialog-buttonset .ui-state-default:last-child:hover {
	color: #333333;
	background-color: #ebebeb;
	border-color: #adadad;
}
.ui-state-default,
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default{
	font-size: 16px;
}
.ui-dialog .ui-dialog-buttonpane button {
	MARGIN: 5PX 20PX;
}

/***输入框组样式**/
.input-group-addon {
	cursor: pointer;
}

/***云表单分页样式***/
.pageBarContainer {
	margin-top: 20px;
	width: 100%;
	height: 50px
}

.pageBarContainer .left {
	width: auto;
	float: left;
	margin-left: 5px;
}

.pageBarContainer .right {
	width: auto;
	float: right;
	margin-right: 5px;
}

.pageBarContainer .curPageNum {
	width: 40px;
	text-align: center;
	margin: 0;
	border-radius: 0;
	outline: none;
	height: 30px;
	border-left: 0;
	border-right: 0;
	margin-top: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	float: left;
	height: 34px;
	line-height: 34px;
}

.pageBarContainer a {
	padding: 6px 12px;
	margin-left: -1px;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	float: left;
}

.pageBarContainer a:first-child {
	border-radius: 3px 0 0 3px
}

.pageBarContainer a:last-child {
	border-radius: 0 3px 3px 0
}
/**表单组导航***/
.formbox {
	width: 610px;
	margin: 40px auto;
}

.formcon {
	padding: 10px 0;
	/**
	border: solid 1px #ddd;**/
	min-height: 150px;
}

.formcon table input {
	/**
	width: 200px;**/
}

.formcon table td {
	padding: 5px;
	line-height: 24px;
}
/* flow_steps */
.flow_steps {
	/**height: 36px;**/
	width:100%; 
	height:36px;
	position:fixed; 
	top:147px;
	left:0;
}

.flow_steps li {
	float: left;
	height: 36px;
	padding: 0 40px 0 30px;
	line-height: 36px;
	text-align: center;
	background: url(../../images/nav/row2.png) no-repeat 100% 0 #EAF4FE;
	color: #7BB8F4;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
}

.flow_steps li.current_prev {
	background: url(../../images/nav/row3.png) no-repeat 100% 0 #EAF4FE;
}

.flow_steps li.current {
	color: #FFFFFF;
	background: url(../../images/nav/row1.png) no-repeat 100% 0 #7BB8F4;
}

.flow_steps li.last {
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	background-position: -9999px -9999px;
	background: #eaf4fe;
}

.flow_steps li.last.current {
	background: #7BB8F4;
}

li.navLabel.first {
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}

.navDiv {
	display: none;
}

.navDiv.current {
	display: block;
}

.cfNavUL {
	-webkit-padding-start: 5px;
}
/*表单明细显示时，表单的名称*/
.navDivLabel {
	border-bottom: 1px solid #ddd;
	margin-bottom: 5px;
	text-align: left;
	font-size: 16px;
	display: none;
}
/*导航悬浮样式*/
.flow_steps_cfTitle {
	font-size: 22px;
    text-align: center;
    position: fixed;
    top: 95px;
    left: 0;
    width: 100%;
    height: 60px;
	line-height: 60px;
	margin-top:-2px;
    text-align: center;
	background:#fff;
	z-index:9;
}
.flow_steps_cfTitle +.flow_steps_cfTitle {
	position: relative;
    top: inherit;
    background: transparent;
    margin-top: 30px;
}
#tab,.fr-nav-tab{position:relative;z-index:99}

.flow_steps+.formcon{
	padding-top:40px;
}
/*导航标题固定*/
.toolDiv_fixed{
	position: fixed;
    bottom: -15px;
}
/**表单组组件结束***/
/**
滚动监听组件
*/
.cfScrollspy {
	position: relative;
	width: 100%;
	height: auto;
}

.scrollspyContainer {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.scrollspy {
	width: 82%;
	float: right;
}

.slide {
	width: 210px;
	float: left;
}
#sideToolbar{
	left:0px;
	margin-top: -40px;
}
#sideToolbar-up {
	background: url("../../images/scrollspy/sideToolbar.png") no-repeat scroll -1px -62px;
	border-radius: 2px;
	display: block;
	height: 45px;
	margin-left: 10px;
	width: 45px;
	float: left;
	margin-top: 50px;
	margin-left: -45px;
}

#sideToolbar-up:hover {
	background: transparent url("../../images/scrollspy/sideToolbar.png") -74px -62px no-repeat
}

#sideToolbar-left {
	background: url("../../images/scrollspy/sideToolbar.png") no-repeat scroll -44px -184px;
	border-radius: 2px;
	display: block;
	height: 45px;
	margin-left: 10px;
	width: 45px;
	float: left;
	margin-top: 100px;
	margin-left: -45px;
}

#sideToolbar-left:hover {
	background: transparent url("../../images/scrollspy/sideToolbar.png") -94px -236px no-repeat;
}

#sideToolbar-right {
	background: url("../../images/scrollspy/sideToolbar.png") no-repeat scroll -44px -236px;
	border-radius: 2px;
	display: block;
	height: 45px;
	margin-left: 10px;
	width: 45px;
	float: left;
	margin-top: 100px;
	margin-left: -45px;
	display: none;
}

#sideToolbar-right:hover {
	background: transparent url("../../images/scrollspy/sideToolbar.png") -94px -184px no-repeat;
}

.sideCatalogBtnDisable {
	background: transparent url("../../images/scrollspy/sideToolbar.png") -104px 0 no-repeat
		!important
}

a.sideCatalogBtnDisable:hover {
	background: transparent url("../../images/scrollspy/sideToolbar.png") -154px 0 no-repeat
		!important
}

#sideCatalogBtn {
	background: url("../../images/scrollspy/sideToolbar.png") no-repeat scroll 0 0;
	cursor: pointer;
	height: 45px;
	margin-bottom: 5px;
	margin-left: 10px;
	position: relative;
	width: 45px;
	display: block;
	float: left;
}

#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-bottom {
	bottom: 0;
}

#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-top,#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-bottom
	{
	background: url("../../images/scrollspy/sideToolbar.png") no-repeat scroll 0 -199px;
	/*rgba(0, 0, 0, 0);*/
	height: 10px;
	left: -5px;
	overflow: hidden;
	position: absolute;
	width: 10px;
}

#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-top {
	cursor: pointer;
	top: 0;
}

#sideCatalog-catalog {
	height: 280px;
	top: 18px;
	overflow: hidden;
	padding-left: 23px;
	position: relative;
}

#sideCatalog-catalog dl {
	position: relative;
}

#sideCatalog span.sideCatalog-index1 {
	color: #999999;
	font-family: Arial;
	font-weight: bold;
	padding-right: 5px;
	margin-left: -150px;
}

#sideCatalog .sideCatalog-item1 a {
	color: #555555;
	font-weight: bold;
}

#sideCatalog .sideCatalog-item1 a,#sideCatalog .sideCatalog-item2 a {
	text-decoration: none;
}

.sideCatalog-dot {
	background: url("../../images/scrollspy/sideToolbar.png") repeat scroll 0 -222px;
	/*rgba(0, 0, 0, 0);*/
	cursor: pointer;
	height: 10px;
	left: -20px;
	line-height: 12px;
	overflow: hidden;
	position: absolute;
	top: 4px;
	width: 6px;
}

#sideCatalog .highlight span.sideCatalog-dot {
	background: url("../../images/scrollspy/sideToolbar.png") no-repeat scroll -271px -38px;
	height: 13px;
	left: -23px;
	top: 3px;
	width: 18px;
}

#sideCatalog #sideCatalog-sidebar {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #EAEAEA;
	border-color: -moz-use-text-color #EAEAEA;
	border-image: none;
	border-left: 1px solid #EAEAEA;
	border-right: 1px solid #EAEAEA;
	border-style: none solid;
	border-width: 0 1px;
	height: 240px;
	left: 5px;
	position: absolute;
	top: 0;
	width: 0;
}

#sideCatalog-updown {
	bottom: 100px;
	height: 50px;
	position: absolute;
	right: 10px;
	width: 22px;
	z-index: 100;
	opacity: 0.7;
	/**
	display: none;**/
}

#sideCatalog-up {
	cursor: pointer;
	height: 25px;
	width: 25px;/**
	display: none;**/
}

.sideCatalog-up-disable {
	background: url("../../images/scrollspy/sideToolbar.png") no-repeat scroll -272px -83px;
}

#sideCatalog-down {
	cursor: pointer;
	height: 25px;
	width: 25px;/**
	display: none;**/
}

.sideCatalog-down-enable {
	background: url("../../images/scrollspy/sideToolbar.png") no-repeat scroll -245px -108px;
}

#sideCatalog {
	height: 240px;
	left: 10px;
	line-height: 19px;
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
	width: 190px;
}

.sideCatalog-item2 {
	padding-left: 21px;
}

.sideCatalog-item1,.sideCatalog-item2 {
	margin: 0 0 6px;
	padding: 0 7px;
	position: relative;
}

.sideCatalog-item2 a {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 150px;/**
	padding-right: 20px;**/
	float: right;
	text-align: left;
	position: absolute;
}

.sideCatalog-down-disable {
	background: url("../../images/scrollspy/sideToolbar.png") no-repeat scroll -272px -108px;
}

.sideCatalog-up-enable {
	background: url("../../images/scrollspy/sideToolbar.png") no-repeat scroll -245px -83px;
}

#sideCatalog-catalog dl dd:hover {
	background-color: #f6f6f6;
}

.side_nav_color {
	color: #555555
}

.side_nav_color2 {
	color: #666666
}

div.cf_scroll_model {
	text-align: left;
	border-bottom: 1px solid #f2f2f2;
}

div.cf_change_model {
	text-align: left;
}
.div-header {
  padding-bottom: 9px;
  height: 40px;
}
.cf_container{
	height:auto;
}
.model-header{
  margin: 40px 0 0px;
  font-size: 18px;
  border-bottom: 0;
}
div.cfEachFormGroup {
	border: 0px;
}
/**
滚动监听组件 结束
*/
/***行政区划组件  开始**/
/*
	控制生成的div的样式
*/
.provinces,.citys,.countys,.streets{ 
	width: auto;
	max-width: 300px;
	position: absolute; 
	background-color: #f8f8f8; 
	padding: 10px 15px; 
	border: 1px #d9d9d9 solid; 
	box-shadow: 3px 3px 5px rgba(128,128,128,0.2);
	z-index: 2000;
}
/*
	控制生成的div内的地址链接的样式
*/
.provinces .a,.citys .a,.countys .a,.streets .a { 
	color: #333;
	text-decoration: none; 
	display: block; 
	float: left; 
	display: inline-block;
	zoom: 1; 
	float: none;
	padding: 3px 5px;
}
/*
	控制生成的div内的地址链接的鼠标响应
*/
.provinces a:hover,.citys .a:hover,.countys .a:hover, .streets .a:hover { 
	background-color: #f0d5d3; 
	color: #fff;
}
/*
	控制所有地区input框的样式
*/
input.cf_areaselect_input {
	width: 20%;
	margin-top : 5px;
	margin-left : 3px;
}
/*
	控制显示地址的label的样式
*/
.cf_areaselect_show{
	margin-top: 5px;
	margin-left : 3px;
	min-width: 220px;
}
/*
	控制输入详细地址的input框的样式
*/
.cf_areaselect_in{
	  width: auto;
	  margin-top: 10px;
	  margin-bottom: 5px;
	  margin-left: -5px;
}
/**
	控制行政区划外层div的样式
*/
.cf_areaselect_listdiv{
	margin-left : 5px;
}
/***行政区划组件  结束**/

/*隐藏区域组件*/
.cf_hidden_container {
	display: none;
	min-height: 150px;
	margin-bottom: 30px;
	width: 100%;
	border: 0px;
}

/***分页表格样式**/
.pageBarContainer .right .page_curPageNum{
	font-family: inherit;
	height: 21px;
	line-height: 17px;
	width : 40px;
	vertical-align:middle;
}
.cfDelPageGrid {
	border: 0 none;
	cursor: pointer;
	margin: 0;
	overflow: visible;
	-moz-outline: 0 none;
	outline: 0 none;
	background: url(../images/widget/delete.png) no-repeat;
	background-position: 0 50%;
	padding-left: 13px;
}
.cfAddAndDelTd .cfDelPageGrid {
	padding: 3px 12px;
	background-color: #d9534f;
	border-color: #d43f3a;
	height: 36px;
	margin-left: 3px;
	margin-right: 0px;
}
body .cfTable .input_erore{border:1px solid #EE0101;outline:none;}